In [1]:
import pandas as pd
from sklearn import metrics
from sklearn.model_selection import train_test_split 
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report 
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN

In [2]:
df = pd.read_csv('tel_churn.csv')

In [3]:
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,1,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [4]:
df = df.drop('Unnamed: 0',axis=1)

In [5]:
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

##creating x and y variable

In [6]:
x = df.drop('Churn',axis=1)
x.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,1,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0

In [7]:
y = df['Churn']
y.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

## MODEL BUILDING

In [8]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2)

Decision Tree Classifier

In [10]:
model_dt = DecisionTreeClassifier(criterion = 'gini' , random_state = 100 , max_depth = 6 , min_samples_leaf = 8)

In [11]:
model_dt.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [12]:
y_pred = model_dt.predict(x_test)

In [13]:
model_dt.score(x_test,y_pred)

1.0

In [17]:
print(classification_report(y_test,y_pred,labels = [0,1]))

              precision    recall  f1-score   support

           0       0.83      0.92      0.87      1043
           1       0.65      0.44      0.53       364

    accuracy                           0.80      1407
   macro avg       0.74      0.68      0.70      1407
weighted avg       0.78      0.80      0.78      1407

In [16]:
print(confusion_matrix(y_test,y_pred))

[[958  85]
 [203 161]]

now above model is not good as our minority class (i.e class =1 ) is performing bad as model is unbalanced

In [19]:
sm = SMOTEENN()
x_resampled , y_resampled = sm.fit_resample(x,y)

In [20]:
xr_train , xr_test , yr_train , yr_test = train_test_split(x_resampled,y_resampled,test_size=0.2)

In [21]:
model_dt_resampled = DecisionTreeClassifier(criterion = 'gini' , random_state = 100 , max_depth = 6 , min_samples_leaf = 8)

In [22]:
model_dt_resampled.fit(xr_train,yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [23]:
yr_pred = model_dt_resampled.predict(xr_test)

In [24]:
yr_pred

array([0, 1, 1, ..., 0, 0, 1])

In [25]:
model_dt_resampled.score(xr_test,yr_pred)

1.0

In [26]:
print(classification_report(yr_test,yr_pred,labels = [0,1]))

              precision    recall  f1-score   support

           0       0.93      0.91      0.92       522
           1       0.93      0.95      0.94       639

    accuracy                           0.93      1161
   macro avg       0.93      0.93      0.93      1161
weighted avg       0.93      0.93      0.93      1161

In [27]:
print(confusion_matrix(yr_test,yr_pred))

[[476  46]
 [ 34 605]]

here accuracy is 93 and model is also good as minority class is performing well

## Random Forest Classifier

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [33]:
model_rf = RandomForestClassifier(n_estimators=100 , criterion = 'gini' , random_state = 100 
                                  , max_depth = 6 , min_samples_leaf = 8)
model_rf.fit(x_train,y_train)
y_pred_rf = model_rf.predict(x_test)

In [34]:
print(classification_report(y_test,y_pred_rf,labels = [0,1]))

              precision    recall  f1-score   support

           0       0.82      0.93      0.87      1043
           1       0.68      0.40      0.50       364

    accuracy                           0.80      1407
   macro avg       0.75      0.67      0.69      1407
weighted avg       0.78      0.80      0.78      1407

again here minority class is performing poor because of unbalanced data

In [35]:
print(confusion_matrix(y_test,y_pred_rf))

[[974  69]
 [219 145]]

In [42]:
sm = SMOTEENN()
x_resampled, y_resampled = sm.fit_resample(x,y)

In [43]:
xr_train , xr_test , yr_train , yr_test = train_test_split(x_resampled,y_resampled,test_size=0.2)

In [44]:
model_resampled_rf = RandomForestClassifier(n_estimators=100,criterion = 'gini' , random_state = 100 , max_depth = 6 , min_samples_leaf = 8)

In [45]:
model_resampled_rf.fit(xr_train,yr_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [46]:
yr_pred_resampled_rf = model_resampled_rf.predict(xr_test)

In [47]:
print(classification_report(yr_test,yr_pred_resampled_rf,labels = [0,1]))

              precision    recall  f1-score   support

           0       0.94      0.91      0.93       536
           1       0.93      0.95      0.94       647

    accuracy                           0.93      1183
   macro avg       0.93      0.93      0.93      1183
weighted avg       0.93      0.93      0.93      1183

In [49]:
print(confusion_matrix(yr_test,yr_pred_resampled_rf))

[[489  47]
 [ 31 616]]

## Saving Model

In [50]:
import pickle

In [51]:
filename = 'churn_model.sav'

In [52]:
pickle.dump(model_resampled_rf , open(filename,'wb'))

In [53]:
load_model = pickle.load(open(filename,'rb'))

In [54]:
load_model.score(xr_test,yr_test)

0.9340659340659341